<%= render "shared/header"%>
<div class="task-container">
  <div class="new-task-field">
    <%= form_with(model: @task, local: true) do |f| %>
      <%= render 'shared/error_messages', model: f.object %>
      <div>
        <%= f.text_field :title, class:"tasks-text", placeholder:"登録したいタスクを記入してください", rows:"1" %>
        <%= f.submit '登録する' , id: "submit", class: "task-btn" %>
      </div>
    <% end %>
  </div>
  
  <div class="task-search-field">
    <%= search_form_for @q, class:"search-form", local: true do |f| %>
      <%= f.search_field  :title_cont, placeholder: "キーワードからタスクを探す", class: 'input-box' %>
      <label class="search-button">
        <%= image_tag "search.png", class:"search-icon" %>
        <%= f.submit '検索', class: "hidden" %>
      </label>
    <% end %>
  </div>

  <div class="todo-tab">
    <div class="todo">
      <%= link_to todo_task_path(:id), class: "todo-list" do %>
        ToDoリスト( <%= @todo_tasks.count %> )
      <% end %>
    </div>
    <div class="done select-back-color">
      <%= link_to done_task_path(:id), class: "done-list select-text-color" do %>
        完了したタスク( <%= @done_tasks.count %> )
      <% end %>
    </div>
  </div>

  <div class="task-index">
    <% @tasks.each do |task| %>
      <div class="task-title">
        <div class="task-top">
          <div>
            <%= task.title %>
          </div>
          <div>
            <% if user_signed_in? && current_user.id == task.user_id %>
              <%= link_to edit_task_path(task.id), class:"edit-link" do %>
                <i class="fas fa-edit"></i> 編集
              <% end %>
              <%= link_to task_path(task.id), class:"trash-link", method: :delete, data: { confirm: '本当に削除しますか？' } do %>
                <i class="fas fa-trash"></i> 削除
              <% end %>
              <% if task.done? %>
                <%= link_to check_task_path(task.id), class:"todo-link" do %>
                  <i class="fas fa-tasks"></i> 未完了に戻す
                <% end %>
              <% else %>
                <%= link_to check_task_path(task.id), class:"done-link" do %>
                  <i class="far fa-check-square"></i> 完了！
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="task-bottom">
          登録日時：<%= task.updated_at.to_s(:datetime_jp) %>
        </div>
      </div>  
    <% end %>
    <div class="pagenation">
      <%= paginate @tasks %>
      <%= page_entries_info @tasks %>
    </div>
  </div>
    
</div>
