<%= render "shared/header"%>
<div class="container">
  <div class="top-left">
    <div class="sticky">
      <% if user_signed_in? %>
        <div class="tyuui-area">
          <div class="mokuteki">
            ＜活動報告の目的＞
          </div>
          <p>
            ・行動習慣を付けること
          </p>
          <p>
            ・継続をすることで毎日１ミリでも進むこと
          </p>
          <div class="noruma-annotation">
            今日のノルマ完了報告と明日のノルマの宣言を毎日必ずしましょう！
          </div>
          <div class="bareru">
            やってないとタイムライン上ですぐバレます。
          </div>
        </div>
        <div class="user-info">
          <div class="user-image">
            <% if current_user.avatar.attached? %>
              <%= image_tag current_user.avatar, class: "avatar_image" %>
            <% else %>
              <%= image_tag("default-avatar.jpg", class:"avatar_image") %>
            <% end %>
          </div>        
          <div class="user-main">
            <a href="/users/<%= current_user.id %>", class="profile-user-name" >
              <%= current_user.name %>
            </a>
          </div>
        </div>
        <div class="">
          <%= form_with(model: @tweet, local: true) do |f| %>
            <%= render 'shared/error_messages', model: f.object %>
            <div class="new-tweet-field">
              <div class="tweet-post">
                <%= f.text_area :text, class:"tweets-text", placeholder:"活動報告を投稿（140文字まで）" ,rows:"3" ,maxlength:"140" %>
              </div>
            </div>
            <div class="image-submit">    
              <label class="form-image">
                <i class="far fa-image fa-3x my-skyblue"></i>
                <%= f.file_field :image, class: "hidden" %>
              </label>
              <%= f.submit "投稿する", class:"tweet-btn" %>
            </div>
            <div id="image-preview", class="preview-area"></div>
          </div>
        <% end %>
      <% else %>
        <div class="mokuteki">
          ＜活動報告の目的＞
        </div>
        <p>
          ・行動習慣を付けること
        </p>
        <p>
          ・継続をすることで毎日１ミリでも進むこと
        </p>
        <div class="starrt">
          理想の自分になるために、<br>活動報告を始めましょう！
        </div>
        <div class="tweet-start">
          <div class='tweet-start-registration'>
            <%= link_to '新規登録', new_user_registration_path, class:"tweet-start-green" %>
          </div>
          <div class='tweet-start-login'>
            <%= link_to 'ログイン', new_user_session_path, class:"tweet-start-blue" %>
          </div>
        </div>
        <div class='tweet-guest-login-btn1'>
          <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, class:"tweet-start-orange", method: :post %>
        </div>
        <div class='tweet-guest-login-annotation'>
          <p>※ ゲストログインは<span class="guest-login-border-bottom">ポートフォリオ閲覧用です。</span></p>
          <p>メールアドレス等を入力せず閲覧いただけます。</p>
        </div>

      <% end %>
    </div>
  </div>
  <div class="top-right jscroll">
    <% if @tweets.count >= 1 %>
      <% @tweets.each do |tweet| %>
        <div class="tweet-all">
          <div class="tweet-left">
            <% if tweet.user.avatar.attached? %>
              <%= link_to user_path(tweet.user.id) do %>
                <%= image_tag tweet.user.avatar, class: "tweet-avatar" %>
              <% end %>
            <% else %>
              <%= link_to user_path(tweet.user.id) do %>
                <%= image_tag("default-avatar.jpg", class:"tweet-avatar") %>
              <% end %>
            <% end %>
          </div>
          <div class="tweet-right">
            <div class="tweet-left-name">
              <a href="/users/<%= tweet.user.id %>", class="user-name">
                <%= tweet.user.name %>
              </a>
              <span class="tweet-date">・<%= tweet.updated_at.to_s(:datetime_jp) %></span>
            </div>
            <div class="tweet-right-crud">
              <%= link_to tweet_path(tweet.id), class:"show-link" do %>
                <i class="fas fa-info-circle"></i>詳細
              <% end %>
              <% if user_signed_in? && current_user.id == tweet.user_id %>
                <%= link_to edit_tweet_path(tweet.id), class:"edit-link" do %>
                  <i class="fas fa-edit"></i>編集
                <% end %>
                <%= link_to tweet_path(tweet.id), class:"trash-link", method: :delete, data: { confirm: '本当に削除しますか？' } do %>
                  <i class="fas fa-trash"></i>削除
                <% end %>
              <% end %>
            </div>
            <div class="tweet-bottom-text">
              <%= tweet.text %>
              <div>
                <% if tweet.image.attached? %>
                  <%= image_tag tweet.image, class: "tweet-bottom-image" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <div class="pagenation-tweets">
        <%= paginate @tweets %>
      </div>
    <% else %>
      <p>投稿はありません</p>
    <% end %>
  </div>
</div>

<%= render "shared/footer"%>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jscroll/2.4.1/jquery.jscroll.min.js"></script>

