<%= render "shared/header"%>

<%= link_to "投稿する", new_tweet_path %>

<div >
  <% if user_signed_in? %>
    <h3 class="top-page-title">タイムライン</h3>
  <% else %>
    <h3 class="top-page-title">みんなの活動報告</h3>
  <% end %>
</div>

<div >
  <% if @tweets.count >= 1 %>
    <% @tweets.each do |tweet| %>
      <div class="tweet-top" >
        <a href="/users/<%= tweet.user.id %>">
          <%= tweet.user.name %>
        </a>
        <div>
          <%= link_to "詳細・コメント", tweet_path(tweet.id)%>
          <% if user_signed_in? && current_user.id == tweet.user_id %>
            <%= link_to "編集", edit_tweet_path(tweet.id) %>
            <%= link_to "削除", tweet_path(tweet.id), method: :delete, data: { confirm: '本当に削除しますか？' } %>
          <% end %>
        </div>
        <p><%= tweet.text %></p>
        <%= image_tag tweet.image.variant(resize: "500x500") if tweet.image.attached? %>
        <%= tweet.updated_at.to_s(:datetime_jp) %>
      </div>
    <% end %>
  <% else %>
    <div>
      <h5>ここにあなたとフォローしているユーザーのヒトコトが表示されます。</h5>
      <h5>プロフィールや投稿から共通点などを探してみましょう！</h5>
      <div>
        <%= link_to "探す", "#" %>
      </div>
    </div>
  <% end %>
</div>