<%= render "shared/header"%>
<div class="container">
  <div class="top-left">
    <div class="sticky">
      <% if user_signed_in? %>
        <div class="user-info">
          <div class="user-image">
            <% if current_user.avatar.attached? %>
              <%= image_tag current_user.avatar, class: "avatar_image" %>
            <% else %>
              <%= image_tag("default-avatar.jpg", class:"avatar_image") %>
            <% end %>
          </div>        
          <div class="user-main">
            <a href="/users/<%= current_user.id %>", class="profile-user-name" >
              <%= current_user.name %>
            </a>
          </div>
        </div>
        <div class="">
          <%= form_with(model: @tweet, local: true) do |f| %>
            <%= render 'shared/error_messages', model: f.object %>
            <div class="new-tweet-field">
              <div class="tweet-post">
                <%= f.text_area :text, class:"tweets-text", placeholder:"投稿内容（140文字まで）" ,rows:"7" ,maxlength:"140" %>
              </div>
            </div>
            <div class="image-submit">    
              <label class="form-image">
                <i class="far fa-image fa-3x my-skyblue"></i>
                <%= f.file_field :image, class: "hidden" %>
              </label>
              <%= f.submit "投稿する", class:"tweet-btn" %>
            </div>
            <div id="image-preview", class="preview-area"></div>
          </div>
        <% end %>
      <% else %>
        ログインしてね！
      <% end %>
    </div>
  </div>
  <div class="top-right jscroll">
    <% if @tweets.count >= 1 %>
      <% @tweets.each do |tweet| %>
        <div class="tweet-all">
          <div class="tweet-left">
            <% if tweet.user.avatar.attached? %>
              <%= link_to user_path(tweet.user.id) do %>
                <%= image_tag tweet.user.avatar, class: "tweet-avatar" %>
              <% end %>
            <% else %>
              <%= link_to user_path(tweet.user.id) do %>
                <%= image_tag("default-avatar.jpg", class:"tweet-avatar") %>
              <% end %>
            <% end %>
          </div>
          <div class="tweet-right">
            <div class="tweet-left-name">
              <a href="/users/<%= tweet.user.id %>", class="user-name">
                <%= tweet.user.name %>
              </a>
              <span class="tweet-date">・<%= tweet.updated_at.to_s(:datetime_jp) %></span>
            </div>
            <div class="tweet-right-crud">
              <%= link_to tweet_path(tweet.id), class:"show-link" do %>
                <i class="fas fa-info-circle"></i>詳細
              <% end %>
              <% if user_signed_in? && current_user.id == tweet.user_id %>
                <%= link_to edit_tweet_path(tweet.id), class:"edit-link" do %>
                  <i class="fas fa-edit"></i>編集
                <% end %>
                <%= link_to tweet_path(tweet.id), class:"trash-link", method: :delete, data: { confirm: '本当に削除しますか？' } do %>
                  <i class="fas fa-trash"></i>削除
                <% end %>
              <% end %>
            </div>
            <div class="tweet-bottom-text">
              <%= safe_join(tweet.text.split("\n"),tag(:br)) %>
              <div>
                <% if tweet.image.attached? %>
                  <%= image_tag tweet.image, class: "tweet-bottom-image" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <div class="pagenation-tweets">
        <%= paginate @tweets %>
      </div>
    <% else %>
      <div>
        <h5>ここにあなたとフォローしているユーザーの活動報告が表示されます。</h5>
        <h5>プロフィールや投稿から共通点などを探してみましょう！</h5>
        <div>
          <%= link_to "探す", "#" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render "shared/footer"%>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jscroll/2.4.1/jquery.jscroll.min.js"></script>

