<%= render "shared/header"%>

<div class="contents row">
  <div class="container">
    <%= form_with(model: @tweet, local: true) do |f| %>

      <%= render 'shared/error_messages', model: f.object %>

      <div class="new-items">
        <div class="items-explain">
          <div class="weight-bold-text">
            本文
          </div>
          <%= f.text_area :text, class:"items-text", placeholder:"投稿内容（140文字まで）" ,rows:"7" ,maxlength:"1000" %>
        </div>
      </div>
      <div class="img-upload">
        <div class="weight-bold-text">
          画像
        </div>
        <div class="click-upload">
          <p>
            クリックしてファイルをアップロード
          </p>
          <%= f.file_field :image %>
        </div>
      </div>
      <%= f.submit "投稿する" %>

    <% end %>
  </div>
</div>