<div class="tweet-contents">

  <header class="tweet-header">
    <%= link_to image_tag('logo-gray.png' , size: '185x50'), "/" %>
  </header>

  <div class="tweet-main">
    <h2 class="tweet-title">投稿情報を入力</h2>
    <%= form_with(model: @tweet, local: true) do |f| %>

      <%= render 'shared/error_messages', model: f.object %>

      <div class="new-tweets">
        <div class="tweets-explain">
          <div class="weight-bold-text">
            本文
          </div>
          <%= f.text_area :text, class:"tweets-text", placeholder:"投稿内容（140文字まで）" ,rows:"7" ,maxlength:"140" %>
        </div>
      </div>
      <div class="img-upload">
        <div class="weight-bold-text">
          画像
        </div>
        <div class="click-upload">
          <p>
            クリックしてファイルをアップロード
          </p>
          <%= f.file_field :image %>
        </div>
      </div>
      <div class="tweet-btn-contents">
        <%= f.submit "投稿する", class:"tweet-btn" %>
      </div>
    </div>
  <% end %>
  
  <footer class="tweet-footer">
    <p class="inc">
      ©︎GOAL-LOG.
    </p>
  </footer>
</div>