<%= render "shared/header"%>

<div class='title-contents'>
  <h2 class='service-title'>
    GOAL-LOG
  </h2>
  <p class='service-explain'>
    誰でも簡単に目標を達成し
  </p>
  <p class='service-explain'>
    なりたい自分になれる
  </p>
  <p class='service-explain'>
    認知科学に基づいたタスク管理アプリです
  </p>
</div>

<%# FURIMAが選ばれる3つの理由部分 %>
<div class='select-reason-contents'>
  <h2 class='title'>
    <span class="title-english">GOAL-LOG </span>が、選ばれる3つの理由
  </h2>
  <ul class='reason-lists'>
    <li class='list'>
      <%= image_tag "intro-1.jpg", class:"list-pict" %>
      <span class='reason-list-number'>1</span>
      <h3 class='reason-list-text'>
        <span class='reason-list-blue-text'>5秒</span>
        ですぐにタスクを登録
      </h3>
      <p class='reason-list-description'>
        入力するだけで簡単にタスク登録できる！
      </p>
    </li>
    <li class='list'>
      <%= image_tag "intro-2.jpg", class:"list-pict" %>
      <span class='reason-list-number'>2</span>
      <h3 class='reason-list-text'>
        <span class='reason-list-blue-text'>シンプル</span>
        で使いやすい
      </h3>
      <p class='reason-list-description'>
        めんどくさい入力は必要なし！
      </p>
      <p class='reason-list-description'>
        検索も管理もスムーズ！
      </p>
    </li>
    <li class='list'>
      <%= image_tag "intro-3.jpg", class:"list-pict" %>
      <span class='reason-list-number'>3</span>
      <h3 class='reason-list-text'>
        ユーザー同士で
        <span class='reason-list-blue-text'>目標達成を共有</span>
      </h3>
      <p class='reason-list-description'>
        仲間と一緒に頑張ることで共に成長できる！
      </p>
    </li>
  </ul>
</div>
<%# //FURIMAが選ばれる3つの理由部分 %>
<%= render "shared/footer"%>